<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/button_admin.css">
    <title>Admin Page</title>
</head>

<style>
    /* CSS */
    .button-75 {
        align-items: center;
        background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
        border: 0;
        border-radius: 10px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-family: "Codec cold", sans-serif;
        font-size: 16px;
        font-weight: 700;
        height: 54px;
        justify-content: center;
        letter-spacing: .4px;
        line-height: 1;
        min-width: 200px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 3px;
        text-decoration: none;
        text-transform: uppercase;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button-75:active {
        outline: 0;
    }

    .button-75:hover {
        outline: 0;
    }

    .button-75 span {
        transition: all 200ms;
    }

    .button-75:hover span {
        transform: scale(.9);
        opacity: .75;
    }

    @media screen and (max-width: 991px) {
        .button-75 {
            font-size: 15px;
            height: 50px;
        }

        .button-75 span {
            line-height: 50px;
        }
    }

    /* ----------------- */

    body {
        position: relative;
        background: #C33764;
        background: -webkit-linear-gradient(to right, #1D2671, #C33764);
        background: linear-gradient(to right, #1D2671, #C33764);
        height: 100vh;
    }

    #adminText {
        margin-top: 1%;
        margin-left: 10px;
        color: #0aca44;
        font-weight: bold;
        font-size: 1.4rem;
    }

    #table_sale {
        border-radius: 3px;
    }

    .container {
        position: relative;
    }

    td span {
        color: #1226dd;
    }

    td span:hover {
        cursor: pointer;
        opacity: 0.8;
    }


    .inside {
        position: relative;
    }


    #img__admin:hover {
        cursor: pointer;
    }

    .mt5 {
        margin: 22px;
    }
</style>

<body>

    <div class="admin d-flex justify-content-center mt-3">

        <div class="wrapper">
            <a class="cta" href="/admin/quan-ly-combo">
                <span class="d-none"></span>
                <span>
                    <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path class="one"
                                d="M25.8456067,3.89485454 L22.0236851,0.139296592 C21.8291689,-0.0518420739 21.5173671,-0.0518571125 21.3228325,0.139262789 L0.308386579,20.7848311 C-0.0855800586,21.1718824 -0.0911863108,21.8050225 0.295764958,22.1989893 C0.29988123,22.2031791 0.304034287,22.2073326 0.30822389,22.2114492 L21.322902,42.8607841 C21.5174043,43.0519059 21.8291758,43.0519358 22.0237147,42.8608513 L25.8454814,39.1069479 C26.0424848,38.9134427 26.0453207,38.5968729 25.8518155,38.3998695 C25.8497107,38.3977268 25.8475868,38.395603 25.8454438,38.3934985 L9.00622113,21.8567812 C8.80919724,21.6632968 8.80632805,21.3467273 8.99981241,21.1497035 C9.00193531,21.1475418 9.0040777,21.1453995 9.00623947,21.1432767 L25.8454792,4.60825197 C26.0425131,4.41477773 26.0453987,4.09820839 25.8519244,3.90117456 C25.8498374,3.89904911 25.8477314,3.89694235 25.8456067,3.89485454 Z"
                                fill="#FFFFFF"></path>
                            <path class="two"
                                d="M45.8456067,3.89485454 L42.0236851,0.139296592 C41.8291689,-0.0518420739 41.5173671,-0.0518571125 41.3228325,0.139262789 L20.3083866,20.7848311 C19.9144199,21.1718824 19.9088137,21.8050225 20.295865,22.1989893 C20.2999812,22.2031791 20.3041343,22.2073326 20.3083238,22.2114492 L41.322902,42.8607841 C41.5174043,43.0519059 41.8291758,43.0519358 42.0237147,42.8608513 L45.8454814,39.1069479 C46.0424848,38.9134427 46.0453207,38.5968729 45.8518155,38.3998695 C45.8497107,38.3977268 45.8475868,38.395603 45.8454438,38.3934985 L29.0062211,21.8567812 C28.8091972,21.6632968 28.8063281,21.3467273 28.9998124,21.1497035 C29.0019353,21.1475418 29.0040777,21.1453995 29.0062395,21.1432767 L45.8454792,4.60825197 C46.0425131,4.41477773 46.0453987,4.09820839 45.8519244,3.90117456 C45.8498374,3.89904911 45.8477314,3.89694235 45.8456067,3.89485454 Z"
                                fill="#FFFFFF"></path>

                        </g>
                    </svg>
                </span>
                <span style="margin: 16px 0 0 16px;">QUẢN LÝ COMBO</span>
            </a>
        </div>

        <div class="logoAdmin mt5">
            <img id="img__admin" src="/img/security.png" alt="img__admin">
            <span id="adminText">Admin</span>
        </div>

        <div class="wrapper">
            <a class="cta" href="/admin/suat-chieu">
                <span style="margin-top: 16px;">QUẢN LÝ SUẤT CHIẾU</span>
                <span>
                    <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path class="one"
                                d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                                fill="#FFFFFF"></path>
                            <path class="two"
                                d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z"
                                fill="#FFFFFF"></path>
                            <path class="three"
                                d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z"
                                fill="#FFFFFF"></path>
                        </g>
                    </svg>
                </span>
            </a>
        </div>
    </div>
    <div class="container">

        <label class="text-warning mt-3" for="date">Lọc theo ngày thanh toán (Từ ngày được chọn -> nay)</label>
        <input onchange="sortDate(this)" type="date" class="form-control" id="date" style="width: 180px;" />

        <table id="table_sale" class="table table-dark mt-4">
            <thead>
                <tr>
                    <th scope="col">Mã hóa đơn</th>
                    <th scope="col">Mã người mua</th>
                    <th scope="col">Mã vé</th>
                    <th scope="col">Mã combo</th>
                    <th scope="col">Mã khuyến mãi</th>
                    <th scope="col">Mã suất chiếu</th>
                    <th scope="col">Mã ghế</th>
                    <th scope="col">Số lượng vé</th>
                    <th scope="col">Thành tiền</th>
                    <th scope="col">Ngày thanh toán</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr class="bills">
                    <th scope="row">{{mahd}}</th>
                    <td>{{userid}}</td>
                    <td>{{mave}}</td>
                    <td>{{macombo}}</td>
                    <td>{{makhuyenmai}}</td>
                    <td>{{masuatchieu}}</td>
                    <td>{{maghe}}</td>
                    <td>{{soluong}}</td>
                    <td>{{thanhtien}}</td>
                    <td id="ngaythanhtoan">{{formatDate ngaythanhtoan}}</td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>

</body>

<script>
    document.getElementById("img__admin").addEventListener('click', () => {
        window.location.href = '/admin'
    })
    let ngayThanhToan = document.querySelectorAll('#ngaythanhtoan');
    function sortDate(inputDate) {
        console.log(inputDate.value)
        let sortDate = new Date(inputDate.value)
        for (var i = 0; i < ngayThanhToan.length; i++) {
            let checkDate = new Date(ngayThanhToan[i].innerHTML)
            if (sortDate > checkDate) {
                ngayThanhToan[i].parentNode.hidden = true;
            }
            else {
                ngayThanhToan[i].parentNode.hidden = false;
            }
        }
    }
</script>

</html>