<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/actor_detail.css" />
    <title>Chi tiết diễn viên</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row cover">
            <div class="col-1"></div>
            <div class="col-7">
                {{#each actors}}
                <div class="link mb-3">
                    <a href="/">Trang chủ</a>
                    <label>></label>
                    <a href="/dien-vien">Diễn viên</a>
                    <label id="arrow">></label>
                    Chi tiết diễn viên {{ten}}
                </div>
                <div class="row">
                    <div class="col-4">
                        <div>
                            <img src="/img/{{hinhanhdoc}}" class="actor-image" />
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="actor-info">
                            <div class="actor-name">
                                <h3>{{ten}}</h3>
                            </div>

                            <div class="rate d-flex mb-3">
                                <div class="view"><img id="icon__view" src="/img/view.png" alt="iconView"><span
                                        id="numView">
                                        {{luotxem}}</span></div>
                            </div>

                            <div class="actor-describe">
                                <label id="describe">{{mota}}</label>
                            </div>
                            <div class="actor-birth">
                                <label id="label">Ngày sinh: </label>
                                <label id="actor">{{ngaysinh}}</label>
                            </div>
                            <div class="actor-Height">
                                <label id="label">Chiều cao: </label>
                                <label id="Height">{{chieucao}}</label>
                            </div>
                            <div class="actor-director">
                                <label id="label">Quốc tịch: </label>
                                <label id="director">{{quoctich}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-11">
                        <div class="actor-content-lbl">
                            <h4>TIỂU SỬ</h4>
                        </div>
                        <div class="actor-content">
                            <p>{{tieusu}}</p>
                        </div>
                    </div>
                </div>
                <div class="review-cover mb-3">
                    <div class="actor-content-lbl">
                        <h4>BÀI VIẾT LIÊN QUAN</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="img-review-container">
                                <a href="#">
                                    <img class="img-review" src="/img/{{hinhanhdoc}}">
                                </a>

                                <div class="caption">
                                    <h6 class="main-cap">{{ten}}</h6>
                                    <a href="#">
                                        <div class="detail">
                                            <button class="detail-btn">CHI TIẾT</button>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {{/each}}
            </div>

            <div class="col-3 right">
                <div class="now-showing">
                    <h4>PHIM ĐANG CHIẾU</h4>
                </div>
                {{#each all4films}}
                <div class="row">
                    <div class="col right-movie-item">
                        <img class="movie-img" src="/img/{{hinhngang}}" alt="" />
                        <div class="hidden-buy-ticket">
                            <p><label class="age">C{{dotuoi}}</label></p>
                            <a href="/chi-tiet-phim/{{maphim}}">
                                <button class="hidden-buy-ticket-btn">CHI TIẾT</button>
                            </a>
                        </div>
                        <div class="right-movie-name">
                            <h5>{{tenphim}}</h5>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="view-more">
                    <a href="/phim-dang-chieu">
                        <button class="view-more-btn">
                            XEM THÊM<label id="right-arrow">→</label>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>