<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/button_admin.css">
    <title>Admin Page</title>
</head>

<style>
    /* CSS */
    .button-75 {
        align-items: center;
        background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
        border: 0;
        border-radius: 10px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-family: "Codec cold", sans-serif;
        font-size: 16px;
        font-weight: 700;
        height: 54px;
        justify-content: center;
        letter-spacing: .4px;
        line-height: 1;
        min-width: 200px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 3px;
        text-decoration: none;
        text-transform: uppercase;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button-75:active {
        outline: 0;
    }

    .button-75:hover {
        outline: 0;
    }

    .button-75 span {
        transition: all 200ms;
    }

    .button-75:hover span {
        transform: scale(.9);
        opacity: .75;
    }

    @media screen and (max-width: 991px) {
        .button-75 {
            font-size: 15px;
            height: 50px;
        }

        .button-75 span {
            line-height: 50px;
        }
    }

    /* ----------------- */

    body {
        position: relative;
        background: #C33764;
        background: -webkit-linear-gradient(to right, #1D2671, #C33764);
        background: linear-gradient(to right, #1D2671, #C33764);
        height: 100vh;
    }

    #adminText {
        margin-top: 1%;
        margin-left: 10px;
        color: #0aca44;
        font-weight: bold;
        font-size: 1.4rem;
    }

    #table_sale {
        border-radius: 3px;
    }

    .container {
        position: relative;
    }

    td span {
        color: #1226dd;
    }

    td span:hover {
        cursor: pointer;
        opacity: 0.8;
    }


    form {
        z-index: 2;
        display: none;
        position: absolute;
        left: 32%;
        background-color: #fff;
        padding: 36px;
        border-radius: 5px;
    }

    .inside {
        position: relative;
    }

    #img__close {
        position: absolute;
        top: -26px;
        right: -26px;
        height: 22px;
        width: 22px;
    }

    #img__close:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    #blur {
        display: none;
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    #img__admin:hover {
        cursor: pointer;
    }

    .mt5 {
        margin: 22px;
    }
</style>

<body>

    <div class="admin d-flex justify-content-center mt-3">

        <div class="wrapper">
            <a class="cta" href="/admin">
                <span class="d-none"></span>
                <span>
                    <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path class="one"
                                d="M25.8456067,3.89485454 L22.0236851,0.139296592 C21.8291689,-0.0518420739 21.5173671,-0.0518571125 21.3228325,0.139262789 L0.308386579,20.7848311 C-0.0855800586,21.1718824 -0.0911863108,21.8050225 0.295764958,22.1989893 C0.29988123,22.2031791 0.304034287,22.2073326 0.30822389,22.2114492 L21.322902,42.8607841 C21.5174043,43.0519059 21.8291758,43.0519358 22.0237147,42.8608513 L25.8454814,39.1069479 C26.0424848,38.9134427 26.0453207,38.5968729 25.8518155,38.3998695 C25.8497107,38.3977268 25.8475868,38.395603 25.8454438,38.3934985 L9.00622113,21.8567812 C8.80919724,21.6632968 8.80632805,21.3467273 8.99981241,21.1497035 C9.00193531,21.1475418 9.0040777,21.1453995 9.00623947,21.1432767 L25.8454792,4.60825197 C26.0425131,4.41477773 26.0453987,4.09820839 25.8519244,3.90117456 C25.8498374,3.89904911 25.8477314,3.89694235 25.8456067,3.89485454 Z"
                                fill="#FFFFFF"></path>
                            <path class="two"
                                d="M45.8456067,3.89485454 L42.0236851,0.139296592 C41.8291689,-0.0518420739 41.5173671,-0.0518571125 41.3228325,0.139262789 L20.3083866,20.7848311 C19.9144199,21.1718824 19.9088137,21.8050225 20.295865,22.1989893 C20.2999812,22.2031791 20.3041343,22.2073326 20.3083238,22.2114492 L41.322902,42.8607841 C41.5174043,43.0519059 41.8291758,43.0519358 42.0237147,42.8608513 L45.8454814,39.1069479 C46.0424848,38.9134427 46.0453207,38.5968729 45.8518155,38.3998695 C45.8497107,38.3977268 45.8475868,38.395603 45.8454438,38.3934985 L29.0062211,21.8567812 C28.8091972,21.6632968 28.8063281,21.3467273 28.9998124,21.1497035 C29.0019353,21.1475418 29.0040777,21.1453995 29.0062395,21.1432767 L45.8454792,4.60825197 C46.0425131,4.41477773 46.0453987,4.09820839 45.8519244,3.90117456 C45.8498374,3.89904911 45.8477314,3.89694235 45.8456067,3.89485454 Z"
                                fill="#FFFFFF"></path>

                        </g>
                    </svg>
                </span>
                <span style="margin: 16px 0 0 16px;">VỀ TRANG CHỦ</span>
            </a>
        </div>

        <div class="logoAdmin mt5">
            <img id="img__admin" src="/img/security.png" alt="img__admin">
            <span id="adminText">Admin</span>
        </div>

        <div class="wrapper">
            <a class="cta" href="/admin/quan-ly-combo">
                <span style="margin-top: 16px;">QUẢN LÝ COMBO</span>
                <span>
                    <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path class="one"
                                d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                                fill="#FFFFFF"></path>
                            <path class="two"
                                d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z"
                                fill="#FFFFFF"></path>
                            <path class="three"
                                d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z"
                                fill="#FFFFFF"></path>
                        </g>
                    </svg>
                </span>
            </a>
        </div>
    </div>

    <div id="flash-alert-success" class="alert alert-success text-center w-100 mx-auto d-none">

    </div>

    <div id="flash-alert-danger" class="alert alert-danger text-center w-100 mx-auto d-none">

    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Bạn có chắc muốn xóa khuyến mãi này</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Thao tác này sẽ không được hoàn tác
                </div>
                <div class="modal-footer">
                    <button id="cancel" type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button id="accept" type="button" class="btn btn-danger">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <div id="blur"></div>

    <div class="container">

        <form id="form__add">
            <div class="inside">
                <img onclick="closeModal()" id="img__close" src="/img/close.png" alt="close">
                <h1>Thêm khuyến mãi</h1>
                <div class="mb-3">
                    <label for="inputSaleAdd" class="form-label">Tên khuyến mãi</label>
                    <input type="text" class="form-control" id="inputSaleAdd" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="inputDetailSaleAdd" class="form-label">Chi tiết khuyến mãi</label>
                    <input type="text" class="form-control" id="inputDetailSaleAdd">
                </div>
                <div class="mb-3">
                    <label for="inputPercentSaleAdd" class="form-label">Giảm giá (%)</label>
                    <input type="text" class="form-control" id="inputPercentSaleAdd">
                </div>
                <button id="btn-add" class="btn btn-primary float-end">Thêm</button>
            </div>
        </form>

        <form id="form__update">
            <div class="inside">
                <img onclick="closeModal()" id="img__close" src="/img/close.png" alt="close">
                <h1>Chỉnh sửa khuyến mãi</h1>
                <div class="mb-3">
                    <label for="inputSale" class="form-label">Tên khuyến mãi</label>
                    <input type="text" class="form-control" id="inputSale" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="inputDetailSale" class="form-label">Chi tiết khuyến mãi</label>
                    <input type="text" class="form-control" id="inputDetailSale">
                </div>
                <div class="mb-3">
                    <label for="inputPercentSale" class="form-label">Giảm giá (%)</label>
                    <input type="text" class="form-control" id="inputPercentSale">
                </div>
                <button id="btn-update" class="btn btn-primary float-end">Cập nhật</button>
            </div>
        </form>

        <table id="table_sale" class="table table-dark mt-4">
            <thead>
                <tr>
                    <th scope="col">Mã khuyến mãi</th>
                    <th scope="col">Tên khuyến mãi</th>
                    <th scope="col">Chi tiết</th>
                    <th scope="col">Giảm (%)</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <th scope="row">{{this.makhuyenmai}}</th>
                    <td>{{this.tenkhuyenmai}}</td>
                    <td>{{this.chitiet}}</td>
                    <td>{{this.giamgia}}</td>
                    <td><span id="btn__update" style="color: aqua;" onclick="update({{this.makhuyenmai}})">Chỉnh
                            sửa</span> l <span class="btn__delete" style="color: aqua;"
                            onclick="deleteSale({{this.makhuyenmai}})" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Xóa</span></td>
                </tr>
                {{/each}}

            </tbody>
        </table>
        <button class="btn btn-success" onclick="add()">Thêm khuyến mãi</button>

    </div>

</body>

<script>
    const form__update = document.getElementById("form__update");
    const img__close = document.getElementById("img__close");
    const exampleModal = document.getElementById("exampleModal");
    const btnAccept = document.getElementById("accept");
    const btnCancel = document.getElementById("cancel");
    const inputSale = document.getElementById("inputSale");
    const inputDetailSale = document.getElementById("inputDetailSale");
    const inputPercentSale = document.getElementById("inputPercentSale");
    const btnUpdate = document.getElementById("btn-update");

    const form__add = document.getElementById("form__add");
    const inputSaleAdd = document.getElementById("inputSaleAdd");
    const inputDetailSaleAdd = document.getElementById("inputDetailSaleAdd");
    const inputPercentSaleAdd = document.getElementById("inputPercentSaleAdd");
    const btnAdd = document.getElementById("btn-add");

    const blurBg = document.querySelector('#blur')

    document.getElementById("img__admin").addEventListener('click', () => {
        window.location.href = '/admin'
    })

    function add() {
        form__add.style.display = 'block';
        blurBg.style.display = 'block';
        const url = `http://localhost:3000/admin/api/add-sale`

        btnAdd.addEventListener('click', (e) => {
            form__add.addEventListener('submit', (e) => {
                e.preventDefault();
            })
            e.preventDefault()
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    tenkhuyenmai: inputSaleAdd.value,
                    chitiet: inputDetailSaleAdd.value,
                    giamgia: inputPercentSaleAdd.value
                })
            })
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    if (data.status > 0) {
                        form__add.style.display = 'none'
                        showAlertSuccess(`Thêm thông tin khuyến mãi thành công!`)
                    } else {
                        form__add.style.display = 'none'
                        showAlertFail(`Thêm thông tin khuyến mãi thất bại!`)
                    }
                })
                .catch(error => {
                    console.log(error)
                });

        })
    }

    function update(id) {
        form__update.style.display = 'block';
        blurBg.style.display = 'block';
        const url = `http://localhost:3000/admin/api/get-sale/${id}`
        fetch(url, {
            method: 'get',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                return response.json();
            })
            .then(data => {
                if (data.result) {
                    inputSale.value = data.result[0].tenkhuyenmai
                    inputDetailSale.value = data.result[0].chitiet
                    inputPercentSale.value = data.result[0].giamgia
                    btnUpdate.addEventListener('click', (e) => {
                        form__update.addEventListener('submit', (e) => {
                            e.preventDefault();
                        })
                        e.preventDefault()
                        fetch(`http://localhost:3000/admin/api/update-sale/${id}`, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                tenkhuyenmai: inputSale.value,
                                chitiet: inputDetailSale.value,
                                giamgia: inputPercentSale.value
                            })
                        })
                            .then(response => {
                                return response.json();
                            })
                            .then(data => {
                                if (data.status > 0) {
                                    form__update.style.display = 'none'
                                    showAlertSuccess(`Cập nhật thông tin khuyến mãi ${data.id} thành công!`)
                                } else {
                                    form__update.style.display = 'none'
                                    showAlertFail(`Cập nhật thông tin khuyến mãi ${data.id} thất bại!`)
                                }
                            })
                            .catch(error => {
                                console.log(error)
                            });
                    })
                }
            })
            .catch(error => {
                console.log(error)
            });
    }

    blurBg.addEventListener('click', () => {
        form__update.style.display = 'none';
        blurBg.style.display = 'none';
        form__add.style.display = 'none';
        console.log("blur")
    })

    function closeModal() {
        blurBg.style.display = 'none';
        form__update.style.display = 'none';
        form__add.style.display = 'none';
        console.log("img")
    }

    function deleteSale(id) {
        exampleModalLabel.innerText = `Bạn có chắc muốn xóa khuyến mãi ${id} ?`
        btnAccept.addEventListener('click', () => {
            const url = `http://localhost:3000/admin/api/delete-sale/${id}`
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    if (data.status) {
                        document.getElementById('exampleModal').classList.add('d-none');
                        document.querySelector('.modal-backdrop').classList.add('d-none');
                        showAlertSuccess(`<span><strong>Xóa khuyến mãi ${data.id} thành công!</strong></span>`)
                    } else {
                        showAlertFail(`<span><strong>Có lỗi xảy ra khi xóa khuyến mãi ${data.id}</strong></span>`)
                    }
                })
                .catch(error => {
                    console.log(error)
                });
        })

    }

    function showAlertSuccess(msg) {
        const flash_success = document.getElementById("flash-alert-success");
        flash_success.innerHTML = `${msg}`;
        flash_success.classList.remove('d-none');

        setTimeout(function () {
            flash_success.classList.add('d-none');
            window.location.reload()
        }, 1300);
    }

    function showAlertFail(msg) {
        const flash_fail = document.getElementById("flash-alert-danger");
        flash_fail.innerHTML = `${msg}`;
        flash_fail.classList.remove('d-none');

        setTimeout(function () {
            flash_fail.classList.add('d-none');
            window.location.reload()
        }, 1300);
    }
</script>

</html>