<style>
    .ticket-table {}

    .combo-table {}

    td:nth-child(2),
    th:nth-child(2),
    td:nth-child(3),
    th:nth-child(3),
    td:nth-child(4),
    th:nth-child(4) {
        vertical-align: middle;
    }

    .icon-c {
        padding: 2px;
        background-color: orange;
        text-align: center;
        color: white;
    }

    .name-movie {
        overflow: hidden;
    }

    .ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .notice {
        color: red;
        font-size: 75%;
    }

    .dotted {
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px dotted #ced0da;
        font-size: smaller;
    }

    input[type=number] {
        -webkit-appearance: none;
    }

    .number-form {
        text-align: center;
    }

    .number-form[type="number"]::-webkit-inner-spin-button,
    .number-form[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .seats {
        width: 100%;
        overflow-x: auto;
        align-items: center;
    }

    .group-btn {
        white-space: nowrap;
        text-align: center;
    }

    .square {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

    .caption {
        display: inline-block;
        font-size: 16px;
        margin-left: 10px;
        margin-bottom: 0px;
        vertical-align: middle;
    }
</style>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-9 mb-3">
            <div style="background-color: orange;">

                {{!-- Choose Ticket/ Choose Combo --}}
                <h4 class="p-2 text-light mb-3 title-ticket-combo">CHỌN VÉ/COMBO</h4>
                <div class="p-2 choose-ticket-combo">
                    {{!-- Ticket Table --}}
                    <table class="table bg-light table-striped ticket-table mb-0">
                        <thead>
                            <tr class="table-dark">
                                <th scope="col-md-6">Loại vé</th>
                                <th scope="col-md-2" class="text-center">Số lượng</th>
                                <th scope="col-md-2" class="text-end">Giá (VNĐ)</th>
                                <th scope="col" class="text-end">Tổng giá (VNĐ)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="m-0"><b>Nguoi Lon - Member</b></p>
                                    <p class="m-0">Vé 2D-áp dụng khách hàng thành viên</p>
                                </td>
                                <td class="text-center">
                                    <a href="" class="ticket-minus" onclick="return false;"><i
                                            class="fa fa-minus-circle" style="font-size:120%"></i></a>
                                    <input onkeyup="checkNumTicket(this)" class="number-form" type="number" min="0"
                                        max="10" name="number" id="number" style="width: 40px;">
                                    <a href="" class="ticket-plus" onclick="return false;"><i class="fa fa-plus-circle"
                                            style="font-size:120%"></i></a>
                                </td>
                                <td class="text-end ticket-price">{{formatNumber suatchieu.giave}}</td>
                                <td class="text-end calculator-ticket-price">0</td>
                            </tr>
                            {{!-- Sum Row --}}
                            <tr>
                                <th scope="row" colspan="3" class="text-danger">Tổng</th>
                                <td class="text-end text-danger sum-ticket-price">0</td>
                            </tr>
                    </table>
                    {{!-- End Ticket Table --}}
                    {{!-- Combo Table --}}
                    <table class="table bg-light table-striped ticket-table mb-0">
                        <thead>
                            <tr class="table-dark">
                                <th scope="col-md-6">Combo</th>
                                <th scope="col-md-2" class="text-center">Số lượng</th>
                                <th scope="col-md-2" class="text-end">Giá (VNĐ)</th>
                                <th scope="col" class="text-end">Tổng giá (VNĐ)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each combo}}
                            <tr>
                                <td>
                                    <p class="m-0"><b>{{tencombo}}</b></p>
                                    <p class="m-0">{{chitiet}}</p>
                                </td>
                                <td class="text-center">
                                    <a class="minus-btn" onclick="return false;" href=""><i class="fa fa-minus-circle"
                                            style="font-size:120%"></i></a>
                                    <input onkeyup="checkNumCombo(this)" class="number-form" type="number" min="0"
                                        name="number" id="combo-number" style="width: 40px;">
                                    <a class="plus-btn" onclick="return false;" href=""><i class="fa fa-plus-circle"
                                            style="font-size:120%"></i></a>
                                </td>
                                <td class="text-end price">{{formatNumber giatien}}</td>
                                <td class="text-end combo-cal-price">0</td>
                            </tr>
                            {{/each}}
                            {{!-- Sum Row --}}
                            <tr>
                                <th scope="row" colspan="3" class="text-danger">Tổng</th>
                                <td class="text-end text-danger combo-all-price">0</td>
                            </tr>
                    </table>
                    {{!-- End Combo Table --}}
                </div>
                {{!-- End Choose Ticket/ Choose Combo --}}

                {{!-- Choose Seat --}}
                <h4 class="p-2 text-light mb-3 title-seat" hidden>CHỌN GHẾ: </h4>
                <div class="p-2 choose-seat bg-light" hidden>
                    <div class="alert alert-warning">
                        <center>SCREEN</center>
                    </div>
                    <hr>
                    <div class="seats mt-5">
                        {{#each seat}}
                        <div class="mt-3">
                            <button type="button" class="btn btn-primary me-3 btn-sm seat-name" style="float: left;"
                                disabled>{{row}}</button>
                            <div class="group-btn">
                                {{#each data}}
                                <button onclick="chooseSeat(this)" type="button"
                                    class="btn {{checkSeat trangthai}} btn-sm seat-number" {{seatIsOrder
                                    trangthai}}>{{maghe}}</button>
                                {{/each}}
                            </div>
                        </div>
                        {{/each}}
                        {{!-- <div class="mt-3">
                            <button type="button" class="btn btn-primary me-3 btn-sm seat-name" style="float: left;"
                                disabled>A</button>
                            <div class="group-btn">
                                <button type="button" class="btn btn-secondary btn-sm seat-number">1</button>
                                <button type="button" class="btn btn-secondary btn-sm seat-number">2</button>
                                <button type="button" class="btn btn-secondary btn-sm seat-number">3</button>
                                <button type="button" class="btn btn-secondary btn-sm seat-number">4</button>
                                <button type="button" class="btn btn-secondary btn-sm seat-number">5</button>
                                <button type="button" class="btn btn-secondary btn-sm seat-number">6</button>
                                <button type="button" class="btn btn-secondary btn-sm seat-number">7</button>
                                <button type="button" class="btn btn-secondary btn-sm seat-number">8</button>
                                <button type="button" class="btn btn-secondary btn-sm seat-number">9</button>
                                <button type="button" class="btn btn-secondary btn-sm seat-number">10</button>
                                <button type="button" class="btn btn-secondary btn-sm seat-number">11</button>
                            </div>
                        </div> --}}
                    </div>
                    <div class="mt-5">
                        <div class="text-danger fs-4">Chú thích:</div>

                        <div class="square bg-secondary"></div>
                        <p class="caption">: Có thể chọn</p><br>
                        <div class="square bg-danger"></div>
                        <p class="caption">: Đã có chỗ</p><br>
                        <div class="square bg-success"></div>
                        <p class="caption">: Đang chọn</p>

                    </div>
                </div>
                {{!-- End Choose Seat --}}


                {{!-- Payment --}}
                <h4 class="p-2 text-light mb-3 title-payment" hidden>THANH TOÁN</h4>
                <div class="p-2 choose-payment bg-light" hidden>

                    <div class="row p-3">
                        <div class="col-md-4 p-2">Hình thức thanh toán:</div>
                        <div class="col-md-5">
                            <select class="form-select p-2" aria-label="Default select example">
                                <option selected value="momo">Ví điện tử Momo</option>
                                <option value="zalo">Zalo Pay</option>
                                <option value="bank">Banking</option>
                            </select>
                        </div>
                    </div>
                    <div class="row p-3">
                        <div class="col-md-4 p-2">Họ tên:</div>
                        <div class="col-md-5">
                            <input type="text" class="form-control" placeholder="Username" value="{{nameUser}}">
                        </div>
                    </div>
                    <div class="row p-3">
                        <div class="col-md-4 p-2">Email:</div>
                        <div class="col-md-5">

                            <input type="text" class="form-control" placeholder="Nhập mail" value="{{emailUser}}">

                        </div>
                    </div>
                    <div class="row p-3">
                        <div class="col-md-4 p-2">Số điện thoại:</div>
                        <div class="col-md-5">
                            <input type="text" class="form-control" placeholder="Phone Number" value="{{phoneUser}}">
                        </div>
                    </div>
                    <div class="row p-3">
                        <div class="col-md-4 p-2">Mã giảm giá:</div>
                        <div class="col-md-5">
                            <input type="text" class="form-control sale-id" placeholder="Nhập mã giảm giá (Nếu có)">
                            <button onclick="useSale(this)" type="button" class="btn btn-secondary use-sale">Áp
                                dụng</button>
                        </div>
                    </div>

                </div>
                {{!-- End Payment --}}


            </div>
        </div>
        <div class="col-md-3">
            <div style="background-color: rgb(245, 240, 240);" class="p-2">
                <div class="text-center">
                    <img src="/img/{{film.poster}}" alt="" width="50%">
                </div>
                <div class="name-movie">
                    <p class="mb-0"><b>{{film.tenphim}}</b></p>
                    <p class="ellipsis mb-0 text-secondary"><b>{{film.tenphim}}</b></p>
                </div>
                <i class="icon-c">C{{film.dotuoi}}</i><span class="notice"> (*) Phim chỉ dành cho khán giả từ
                    {{film.dotuoi}} tuổi trở lên</span>
                <div class="dotted">
                    <b>Phòng: </b>{{suatchieu.maphong}}
                </div>
                <div class="dotted">
                    <b>Suất chiếu: </b>{{suatchieu.giochieu}} | {{suatchieu.ngaychieu}}
                </div>
                <div class="dotted">
                    <b>Combo: </b><span class="combo-list"></span>
                </div>
                <div class="dotted">
                    <b>Ghế: </b><span class="seat-list"></span>
                </div>

                <div><b>Tổng: </b><span class="fs-5 text-danger total-price">0</span><span class="fs-5 text-danger">
                        VNĐ</span></div>
                <div class="select-group d-flex justify-content-around mt-2">
                    <button onclick="getBack(this)" class="btn btn-danger text-light back"><i
                            class="fa fa-long-arrow-left">
                            QUAY LẠI</i></button>
                    <button onclick="getContinue(this)" class="btn btn-danger text-light continue">TIẾP TỤC <i
                            class="fa fa-long-arrow-right"></i></button>
                    <button data-bs-toggle="modal" data-bs-target="#qrCodeModal"
                        class="btn btn-success text-light do-payment" hidden>THANH
                        TOÁN</button>
                </div>
            </div>
        </div>
    </div>

    <!-- QR Modal -->
    <div class="modal fade" id="qrCodeModal" tabindex="-1" aria-labelledby="qrCodeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="qrCodeModalLabel">Quét mã thanh toán sau:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="/img/qrcode.png" width="100%" alt="QR Code">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button onclick="doPayment(this)" type="button" data-bs-dismiss="modal" class="btn btn-primary">Quét
                        thành công</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        let count = null;
        function getBack(backBtn) {
            if (!$('.title-payment').is(':hidden')) {
                $('.title-payment').attr("hidden", true);
                $('.choose-payment').attr("hidden", true);
                $('.title-seat').removeAttr("hidden");
                $('.choose-seat').removeAttr("hidden");
                $('.do-payment').attr("hidden", true);
                $('.continue').removeAttr("hidden");
                //$("div").attr("hidden", true);
            } else if (!$('.title-seat').is(':hidden')) {
                $('.title-seat').attr("hidden", true);
                $('.choose-seat').attr("hidden", true);
                $('.title-ticket-combo').removeAttr("hidden");
                $('.choose-ticket-combo').removeAttr("hidden");
            }
            else {
            }
        }
        function getContinue(continueBtn) {
            if (!$('.title-ticket-combo').is(':hidden')) {
                $('.title-ticket-combo').attr("hidden", true);
                $('.choose-ticket-combo').attr("hidden", true);
                $('.title-seat').removeAttr("hidden");
                $('.choose-seat').removeAttr("hidden");
                //$("div").attr("hidden", true);
            } else if (!$('.title-seat').is(':hidden')) {
                $('.title-seat').attr("hidden", true);
                $('.choose-seat').attr("hidden", true);
                $('.title-payment').removeAttr("hidden");
                $('.choose-payment').removeAttr("hidden");

                $('.continue').attr("hidden", true);
                $('.do-payment').removeAttr("hidden");
            }

        }
        function getAllPrice() {
            let sumTicketPrice = $('.sum-ticket-price').html()
            let comboAllPrice = $('.combo-all-price').html()
            let totalPrice = parseFloat(sumTicketPrice.replace(/,/g, '')) + parseFloat(comboAllPrice.replace(/,/g, ''))
            $('.total-price').html(totalPrice.toLocaleString('en-US'));
        }

        function getAllComboText() {
            let comboNumber = document.querySelectorAll('#combo-number');
            let listComboName = ""
            for (var i = 0; i < comboNumber.length; i++) {
                let tr = comboNumber[i].parentNode.parentNode
                let comboName = tr.children[0].children[0].children[0].textContent
                if (comboNumber[i].value > 0) {
                    if (i == comboNumber.length - 1)
                        listComboName += `${comboName}(${comboNumber[i].value})`
                    else
                        listComboName += `${comboName}(${comboNumber[i].value}),`
                }
            }
            $('.combo-list').html(listComboName)
        }

        ////////////////////////////////Choose Ticket And Combo
        function checkNumTicket(input) {
            if (input.value <= 0) {
                input.value = null;
            }

            count = input.value
            $('.seat-number').removeClass('btn-success').addClass('btn-secondary');
            $('.seat-list').html("")

            let tr = input.parentNode.parentNode;
            let price = tr.children[2].innerHTML.replace(/,/g, '');
            let calPriceNumber = (price * input.value).toLocaleString('en-US');;
            tr.children[3].innerHTML = calPriceNumber
            $('.sum-ticket-price').html(calPriceNumber)
            getAllPrice()
        }

        var comboCalPrice = document.querySelectorAll('.combo-cal-price');
        function checkNumCombo(input) {
            if (input.value <= 0) {
                input.value = null;
            }
            let tr = input.parentNode.parentNode;
            let price = tr.children[2].innerHTML.replace(/,/g, '');
            let calPriceNumber = (price * input.value).toLocaleString('en-US');
            tr.children[3].innerHTML = calPriceNumber
            let sum = 0;
            for (var i = 0; i < comboCalPrice.length; i++) {
                sum += parseFloat(comboCalPrice[i].innerHTML.replace(/,/g, ''))
            }
            $('.combo-all-price').html(sum.toLocaleString('en-US'))
            getAllPrice()
            getAllComboText()
        }
        //Bắt sự kiện click cho nút plus và minus của table combo
        $(document).ready(function () {
            $('.plus-btn, .minus-btn').click(function (e) {
                e.preventDefault();
                let input = $(this).parent().find('input');
                let currentValue = parseInt(input.val());
                if (isNaN(currentValue)) {
                    currentValue = 0;
                }
                let newValue = currentValue + ($(this).hasClass('plus-btn') ? 1 : -1);
                if (newValue >= 0) {
                    input.val(newValue);
                    let tr = $(this).parent().parent();
                    let price = parseFloat(tr.find('.price').html().replace(/,/g, ''));
                    let calPriceNumber = (price * newValue).toLocaleString('en-US');
                    tr.find('.combo-cal-price').html(calPriceNumber);
                    let sum = 0;
                    for (var i = 0; i < comboCalPrice.length; i++) {
                        sum += parseFloat(comboCalPrice[i].innerHTML.replace(/,/g, ''))
                    }
                    $('.combo-all-price').html(sum.toLocaleString('en-US'))
                    getAllPrice()
                    getAllComboText()
                    if (input.val() == 0)
                        input.val(null)
                }
            });
        });

        // Lấy các phần tử cần thiết cho ticket table
        var minusBtnTicket = document.querySelector(".ticket-minus");
        var plusBtnTicket = document.querySelector(".ticket-plus");
        var numberInput = document.querySelector("#number");
        var ticketPrice = document.querySelector(".ticket-price")
        var calculatorTicketPrice = document.querySelector(".calculator-ticket-price")
        var sumTicketPrice = document.querySelector(".sum-ticket-price")


        // Thêm sự kiện "click" vào các nút minus và plus trong ticket table
        minusBtnTicket.addEventListener("click", function () {
            // Lấy giá trị hiện tại của ô input
            var currentValue = parseInt(numberInput.value);
            // Kiểm tra giá trị hiện tại có lớn hơn 0 không
            if (currentValue > 0) {
                // Giảm giá trị đó đi 1
                var newValue = currentValue - 1;

                count = newValue
                $('.seat-number').removeClass('btn-success').addClass('btn-secondary');
                $('.seat-list').html("")

                // Cập nhật giá trị mới vào ô input
                numberInput.value = newValue;
                if (numberInput.value == 0) {
                    numberInput.value = null;
                    calculatorTicketPrice.innerHTML = 0
                }
                else {
                    let quantity = numberInput.value
                    let price = ticketPrice.innerHTML.toLocaleString().replace(/,/g, '')
                    calculatorTicketPrice.innerHTML = (price * quantity).toLocaleString('en-US');
                }
                sumTicketPrice.innerHTML = calculatorTicketPrice.innerHTML
                getAllPrice()
            }
        });
        plusBtnTicket.addEventListener("click", function () {
            // Lấy giá trị hiện tại của ô input
            var currentValue = parseInt(numberInput.value);
            if (isNaN(currentValue)) {
                currentValue = 0;
            }
            // Tăng giá trị đó lên 1
            var newValue = currentValue + 1;

            count = newValue
            $('.seat-number').removeClass('btn-success').addClass('btn-secondary');
            $('.seat-list').html("")

            // Cập nhật giá trị mới vào ô input
            numberInput.value = newValue;
            let quantity = numberInput.value
            let price = ticketPrice.innerHTML.toLocaleString().replace(/,/g, '')
            calculatorTicketPrice.innerHTML = (price * quantity).toLocaleString('en-US');
            sumTicketPrice.innerHTML = calculatorTicketPrice.innerHTML
            getAllPrice()
        });
        ////////////////////////////////End Choose Ticket And Combo

        ////////////////////////////////Choose Seat

        function chooseSeat(seatBtn) {
            let num = seatBtn.innerHTML
            let nameRow = seatBtn.parentNode.parentNode.children[0].innerHTML
            if (seatBtn.classList.contains('btn-secondary')) {
                if (count > 0) {
                    seatBtn.classList.remove("btn-secondary");
                    seatBtn.classList.add("btn-success");
                    count = count - 1;

                    if ($('.seat-list').html() == '') {
                        $('.seat-list').html(nameRow + num)
                    }
                    else {
                        $('.seat-list').html($('.seat-list').html() + "," + nameRow + num)
                    }
                }
            }
            else if (seatBtn.classList.contains('btn-success')) {
                count = count + 1;
                seatBtn.classList.remove("btn-success");
                seatBtn.classList.add("btn-secondary");

                let list = $('.seat-list').html()
                seats = list.split(',')
                result = ""
                seats.forEach(function (seat) {
                    if (seat == (nameRow + num)) {
                        result = result
                    }
                    else result = result + seat + ","
                });
                result = result.slice(0, -1)
                $('.seat-list').html(result)
            }
        }
        ////////////////////////////////End Choose Seat


        ////////////////////////////////Do Payment
        let useS = false;
        async function useSale(btnSale) {
            if (!useS) {
                saleId = btnSale.parentNode.children[0].value
                await fetch('http://localhost:3000/dung-ma-giam-gia', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        makhuyenmai: saleId
                    })
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if(data.giamgia){
                            useS = true;
                            let originalPrice = $('.total-price').html().replace(/,/g, '')
                            let percentSale = data.giamgia
                            let totalPrice = originalPrice - originalPrice*percentSale/100
                            alert("Sử dụng mã giảm giá thành công")
                            $('.total-price').html(totalPrice.toLocaleString('en-US'))
                        }
                        else{
                            alert("Sử dụng mã giảm giá thất bại")
                        }
                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                    });
            }
        }
        async function doPayment(payBtn) {
            let userid = "{{idUser}}";
            let maphim = "{{film.maphim}}";
            let comboList = $('.combo-list').html();
            let makhuyenmai = $('.sale-id').val();
            let masuatchieu = "{{suatchieu.masuatchieu}}";
            let seatList = $('.seat-list').html();
            let soluong = $('#number').val();
            let price = $('.total-price').html().replace(/,/g, '')
            const date = new Date();
            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            let formattedDate = `${year}-${month}-${day}`;

            await fetch('http://localhost:3000/mua-ve/{{film.maphim}}/{{suatchieu.masuatchieu}}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    userid: userid,
                    maphim: maphim,
                    comboList: comboList,
                    makhuyenmai: makhuyenmai,
                    masuatchieu: masuatchieu,
                    seatList: seatList,
                    soluong: soluong,
                    price: price,
                    ngaythanhtoan: formattedDate

                })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.status == "success") {
                        alert("Thanh toán thành công");
                        window.location.href = "/"
                    }
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }
        ////////////////////////////////End Do Payment
    </script>