<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/comming_soon.css">
    <title>Phim sắp chiếu</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link " href="phim-dang-chieu">
                            <h5>PHIM ĐANG CHIẾU</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <h5>PHIM SẮP CHIẾU</h5>
                        </a>
                    </li>
                </ul>
                <div class="movie">
                    <div class="row">
                        {{#each films}}
                        <div class="col-md-3 movie-item">
                            <a class="movie-link" href="#">
                                <div class="image-container">
                                    <img src="./img/{{poster}}" class="movie-image" />
                                    <div class="hidden-content">
                                        <p><label class="movie-c">C{{dotuoi}}</label></p>
                                        <a href="/chi-tiet-phim/{{maphim}}">
                                            <button class="hidden-button">Mua vé</button>
                                        </a>
                                    </div>
                                </div>
                            </a>
                            <div class="movie-name">
                                <h6>{{tenphim}}</h6>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="movie-des">
                    <div class="cinema-des">
                        <div class="cinema-name-des">
                            <h4>LDBT CINEMA</h4>
                        </div>
                        <p>Galaxy Cinema luôn cập nhật nhanh nhất những bộ phim chiếu rạp mới nhất, hấp dẫn nhất sắp ra
                            mắt trong thời gian tới. Các bộ phim sắp chiếu tại Galaxy Cinema luôn đủ mọi thể loại được
                            ưa chuộng nhất bao gồm hành động, kinh dị, phiêu lưu, hoạt hình…phù hợp cho mọi lứa tuổi,
                            đến từ Hollywood và nhiều quốc gia khác, thật dễ dàng để lựa chọn phim hay theo sở thích của
                            bạn tại website Galaxy Cinema.

                            Mỗi bộ phim mới cập nhật lên website sẽ hiển thị đầy đủ thông tin từ tựa phim, nội dung
                            phim, ngày công chiếu giúp bạn thuận tiện trong việc theo dõi. Ngoài ra, Galaxy Cinema sẽ
                            luôn cập nhật và tạo thuận tiện giúp bạn nhanh tay đặt lấy suất phim mới nhất, phù hợp nhất
                            để thưởng thức.


                            Xem thêm tại: https://www.galaxycine.vn/phim-sap-chieu</p>
                    </div><br>
                    {{#each films}}
                    <div class="des">
                        <div class="movie-des">
                            <h6>{{tenphim}}</h6>
                            <p>{{mota}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</body>

</html>