<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/movie_detail.css" />
    {{#each films}}
    <title>Chi tiết phim {{tenphim}}</title>
    {{/each}}
</head>

<body>
    <div class="container-fluid">
        <div class="row cover">
            <div class="col-md-1"></div>
            <div class="col-md-7">
                {{#each films}}
                <div class="link">
                    <a href="/">Trang chủ</a> 
                    <label>></label>
                    <a href="/phim-dang-chieu">Phim</a> 
                    <label id="arrow">></label>  
                    Chi tiết phim {{tenphim}}
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <img src="/img/{{poster}}" class="movie-image" />
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="movie-info">
                            <div class="movie-name">
                                <h3>{{tenphim}}</h3>
                            </div>
                            <div class="rating-info">
                                <label class="rating-symbol">★</label>
                                <label class="rating">{{diemdanhgia}}<label id="ten">/10</label></label>
                                {{!-- {{this.luotdanhgia}} --}}
                            </div>
                            <div>
                                <label class="movie-age">C{{dotuoi}}</label>
                                <label>🕒 {{thoiluong}}</label>

                                {{!-- {{this.luotdanhgia}} --}}
                            </div>
                            <div class="movie-genre">
                                <label id="label">Thể loại: </label>
                                <label id="genre">{{theloai}}</label>
                            </div>
                            <div class="movie-actor">
                                <label id="label">Diễn viên: </label>
                                <label id="actor">{{dienvien}}</label>
                            </div>
                            <div class="movie-country">
                                <label id="label">Quốc gia: </label>
                                <label id="country">{{quocgia}}</label>
                            </div>
                            <div class="movie-director">
                                <label id="label">Đạo diễn: </label>
                                <label id="director">{{daodien}}</label>
                            </div>
                            <div class="movie-date">
                                <label id="label">Ngày khởi chiếu: </label>
                                <label id="date">{{ngaykhoichieu}}</label>
                            </div>
                            <div class="movie-button">
                                <button class="hidden-buy-ticket-btn" id="movie-button">MUA VÉ</button>
                            </div>
                            <script>
                                const button = document.getElementById("movie-button");
                                button.addEventListener("click", onClick);
                                function onClick() {
                                    window.location.href = '/mua-ve/{{maphim}}';
                                }
                            </script>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-11">
                         <div class="movie-content-lbl">
                            <h4>NỘI DUNG PHIM</h4>
                        </div>
                        <div class="movie-content">
                            <p>
                                {{mota}}
                            </p>
                        </div>
                        <div class="movie-content-lbl">
                            <h4>TRAILER</h4>
                            <div>
                                <iframe width="784" height="441" src="{{trailer}}" title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                       
                    </div>
                </div>
                {{/each}}
            </div>

            <div class="col-md-3 right">
                <div class="now-showing">
                    <h4>PHIM ĐANG CHIẾU</h4>
                </div>
                {{#each all4films}}
                <div class="row">
                    <div class="col-md col-sm col-xs right-movie-item">
                        <img class="movie-img" src="/img/{{hinhngang}}" alt="" />
                        <div class="hidden-buy-ticket">
                            <p><label class="age">C{{dotuoi}}</label></p>
                            <a href="/chi-tiet-phim/{{maphim}}">
                                <button class="hidden-buy-ticket-btn">CHI TIẾT</button>
                            </a>
                        </div>
                        <div class="right-movie-name">
                            <h5>{{tenphim}}</h5>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="view-more">
                    <a href="/phim-dang-chieu">
                        <button class="view-more-btn">
                            XEM THÊM<label id="right-arrow">→</label>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>